In [1]:
import pandas as pd 
from scipy.stats import ttest_ind

In [2]:
data = pd.read_csv('cobify_clean_data.csv')
data.head()

,distance,consume,temp_inside,temp_outside,gas_type,ac,rain,sun,temp_diff,fuel_used,cost_of_trip,trip_in_hours,avg_speed
0,28.0,5.0,21.5,12,E10,0,0,0,9.5,1.4000,3.0,0.433333,64.615385
1,12.0,4.2,21.5,13,E10,0,0,0,8.5,0.5040,1.0,0.500000,24.000000
2,11.2,5.5,21.5,15,E10,0,0,0,6.5,0.6160,1.0,0.633333,17.684211
3,12.9,3.9,21.5,14,E10,0,0,0,7.5,0.5031,1.0,0.600000,21.500000
4,18.5,4.5,21.5,15,E10,0,0,0,6.5,0.8325,2.0,0.766667,24.130435

**The Null hypothesis is that the consumption of the different fuels are the same**

**We will run a one sided ttest to determine if we can accept or reject our hypothesis.**

In [3]:
stat, pval = ttest_ind(data[data.gas_type == 'E10'].fuel_used,data[data.gas_type == 'SP98'].fuel_used)
print('The p-value of the test is:' , pval)
print('The stat value of the test is:', stat)

The p-value of the test is: 0.27679289437741406
The stat value of the test is: 1.089091767035112

**the p-value is over the threshould of 0.05 so we can accept our hypothesis that the two fuel types are consumed almost equally**

**Our second hypothesis is that the fuel types cost about the same for per trip**

In [4]:
stat, pval = ttest_ind(data[data.gas_type == 'E10'].cost_of_trip,data[data.gas_type == 'SP98'].cost_of_trip)
print('The p-value of the test is:' , pval)
print('The stat value of the test is:', stat)

The p-value of the test is: 0.6140815155419039
The stat value of the test is: 0.5046658621021111

**The p-value is over the threshold of 0.05 so we can accept our hypothesis that the two fuel types currently cost about the same per trip usage**

**There is a big discrepency**