In [7]:
import pandas as pd 
import numpy as np
from scipy import stats
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

In [8]:
data = pd.read_csv('cobify_clean_data.csv')
data.head()

,distance,consume,temp_inside,temp_outside,gas_type,ac,rain,sun,temp_diff,fuel_used,cost_of_trip,trip_in_hours,avg_speed
0,28.0,5.0,21.5,12,E10,0,0,0,9.5,1.4000,3.0,0.433333,64.615385
1,12.0,4.2,21.5,13,E10,0,0,0,8.5,0.5040,1.0,0.500000,24.000000
2,11.2,5.5,21.5,15,E10,0,0,0,6.5,0.6160,1.0,0.633333,17.684211
3,12.9,3.9,21.5,14,E10,0,0,0,7.5,0.5031,1.0,0.600000,21.500000
4,18.5,4.5,21.5,15,E10,0,0,0,6.5,0.8325,2.0,0.766667,24.130435

In [9]:
correlations = data.corr()
correlations

ValueError: could not convert string to float: 'E10'

In [10]:
fig, ax=plt.subplots(figsize=(10,8))
ax=sns.heatmap(correlations, annot=True)
plt.show()

NameError: name 'plt' is not defined

In [11]:
cols_to_drop = ['temp_diff','cost_of_trip','fuel_used','avg_speed']
data=data.drop(cols_to_drop, axis=1)
data

,distance,consume,temp_inside,temp_outside,gas_type,ac,rain,sun,trip_in_hours
0,28.0,5.0,21.5,12,E10,0,0,0,0.433333
1,12.0,4.2,21.5,13,E10,0,0,0,0.500000
2,11.2,5.5,21.5,15,E10,0,0,0,0.633333
3,12.9,3.9,21.5,14,E10,0,0,0,0.600000
4,18.5,4.5,21.5,15,E10,0,0,0,0.766667
...,...,...,...,...,...,...,...,...,...
383,16.0,3.7,24.5,18,SP98,0,0,0,0.650000
384,16.1,4.3,25.0,31,SP98,1,0,0,0.633333
385,16.0,3.8,25.0,19,SP98,0,0,0,0.750000
386,15.4,4.6,25.0,31,SP98,1,0,0,0.700000
387,14.7,5.0,25.0,30,SP98,1,0,0,0.416667

**Splitting into X-features and y-target. We are trying to predict the amount of fuel consumed.**

In [12]:
x = data.drop('consume' , axis=1)
y = data['consume']
x

,distance,temp_inside,temp_outside,gas_type,ac,rain,sun,trip_in_hours
0,28.0,21.5,12,E10,0,0,0,0.433333
1,12.0,21.5,13,E10,0,0,0,0.500000
2,11.2,21.5,15,E10,0,0,0,0.633333
3,12.9,21.5,14,E10,0,0,0,0.600000
4,18.5,21.5,15,E10,0,0,0,0.766667
...,...,...,...,...,...,...,...,...
383,16.0,24.5,18,SP98,0,0,0,0.650000
384,16.1,25.0,31,SP98,1,0,0,0.633333
385,16.0,25.0,19,SP98,0,0,0,0.750000
386,15.4,25.0,31,SP98,1,0,0,0.700000
387,14.7,25.0,30,SP98,1,0,0,0.416667

**Splitting into Training and Testing Data**

In [14]:
X_train, X-test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=13)
print('X_train shape is:', X-train.shape)
print('y_train shape is:', y-train.shape)
print('X_test shape is:', X-test.shape)
print('y_train shape is:', y-test.shape)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (417014016.py, line 1)

In [15]:
X_train_num = X_train.select_dtypes(np.number)
X_train_cat = X_train.select_dtypes(object)
X_test_num = X-test.select_dtypes(np.number)
X_test_cat = X_test.select_dtypes(object)

NameError: name 'X_train' is not defined

**Here we will transform and scale our numerical data**

In [16]:
transformer = MinMaxScaler().fit(X_train_num)
X_train_norm = transformer.transform(X_train_num)
print(X_train_norm.shape)
X_train_num_scale = pd.DataFrame(X_train_norm, index = X_train_num.index, columns=X_train_num.columns)
X_train_num_scale.head()

NameError: name 'X_train_num' is not defined

In [17]:
X_train_norm = transformer.transform(X_test_num)
print(X_test_norm.shape)
X_test_num_scale = pd.DataFrame(X_test_norm, index = X_test_num.index, columns=X_test_num.columns)
X_test_num_scale.head()

NameError: name 'transformer' is not defined

**Now to encode the single categorical column**

In [18]:
X_train_cat['gas_type']=np.where(X_train_cat['gas_type']=='E10',1,0)
X_train_cat['gas_type']

NameError: name 'X_train_cat' is not defined

In [19]:
X_test_cat['gas_type']=np.where(X_test_cat['gas_type']=='E10',1,0)
X_test_cat['gas_type']

NameError: name 'X_test_cat' is not defined

In [20]:
X_train = pd.concat([X_train_num, X_train_cat], axis = 1)
X_train
X_test = pd.concat([X_test_num, X_test_cat], axis = 1)
X_test

NameError: name 'X_train_num' is not defined

**First try at Linear Regression**

In [22]:
lm=LinearRegression()
lm.fit(X_train, y_train)
y_pred_lm=lm.predict(X_test)

NameError: name 'X_train' is not defined

In [ ]:
print('The R2 score is:', lm.score(X_test,y_test))

**Looking at other Regressor Models**

In [23]:
def models_automation(models, X_train, y_train):
    for model in models:
        model.fit(X_train, y_train)
        print(f"{model.__class__.__name__}: Train--> {model.score(X_train, y_train)}, Test --> )

SyntaxError: unterminated string literal (detected at line 4) (4228976139.py, line 4)

In [ ]:
model_list = [LinearRegression(), KneighborsRegressor(),DecisionTreeRegressor()]
models_automation(model_list, X_train, y_train)